---
http_interactions:
- request:
    method: get
    uri: https://dinkurs.se/lxml.asp?company_key=yFKGQJ
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<events>\r\n    <event
        event_id=\"28613\">\r\n    \t<event_id type=\"PropertyNumber\">28613</event_id>\r\n
        \       <event_name type=\"PropertyString\">Betaling (DKK)</event_name>\r\n
        \       <event_place type=\"PropertyString\"></event_place>\r\n        <event_place_geometry_location
        type=\"PropertyString\"></event_place_geometry_location>\r\n        <event_host
        type=\"PropertyString\">Demo Din Kurs</event_host>\r\n        <event_fee type=\"PropertyNumber\">0</event_fee>\r\n
        \       <event_fee_tax type=\"PropertyNumber\">0</event_fee_tax>\r\n        <event_pub
        type=\"PropertyDate\">2015-02-06</event_pub>\r\n        <event_apply type=\"PropertyDate\">2100-01-01</event_apply>\r\n
        \       <event_start type=\"PropertyDate\">2100-01-01</event_start>\r\n        <event_stop
        type=\"PropertyDate\">2100-01-01</event_stop>\r\n        <event_participant_number
        type=\"PropertyNumber\">0</event_participant_number>\r\n        <event_participant_reserve
        type=\"PropertyNumber\">0</event_participant_reserve>\r\n        <event_participants
        type=\"PropertyNumber\">0</event_participants>\r\n        <event_occasions
        type=\"PropertyNumber\">0</event_occasions>\r\n        <event_group type=\"PropertyNumber\">0</event_group>\r\n
        \       <event_position type=\"PropertyNumber\">0</event_position>\r\n        <event_instructor_1
        type=\"PropertyString\"></event_instructor_1>\r\n        <event_instructor_2
        type=\"PropertyString\"></event_instructor_2>\r\n        <event_instructor_3
        type=\"PropertyString\"></event_instructor_3>\r\n        <event_parking type=\"PropertyNumber\">3</event_parking>\r\n
        \       <event_commenttext type=\"PropertyString\"></event_commenttext>\r\n
        \       <event_ticket_info type=\"PropertyString\"></event_ticket_info>\r\n
        \       <event_key type=\"PropertyString\">PEpnLgEsMLFBlGjV</event_key>\r\n
        \       <event_currency_id type=\"PropertyNumber\">3</event_currency_id>\r\n
        \       <event_default_client_numbers type=\"PropertyNumber\"></event_default_client_numbers>\r\n
        \       <event_url_id type=\"PropertyString\">https://dinkurs.se/appliance/?event_id=28613</event_url_id>\r\n
        \       <event_url_key type=\"PropertyString\">https://dinkurs.se/appliance/?event_key=PEpnLgEsMLFBlGjV</event_url_key>\r\n
        \       <event_infotext type=\"PropertyString\"><![CDATA[]]></event_infotext>\r\n
        \       <event_completion_text type=\"PropertyString\"><![CDATA[]]></event_completion_text>\r\n
        \       <event_aftertext type=\"PropertyString\"><![CDATA[]]></event_aftertext>\r\n
        \       <event_event_dates type=\"PropertyString\">\r\n         \r\n        </event_event_dates>\r\n\t</event>\r\n
        \   <event event_id=\"30016\">\r\n    \t<event_id type=\"PropertyNumber\">30016</event_id>\r\n
        \       <event_name type=\"PropertyString\">Betalning (SEK)</event_name>\r\n
        \       <event_place type=\"PropertyString\"></event_place>\r\n        <event_place_geometry_location
        type=\"PropertyString\"></event_place_geometry_location>\r\n        <event_host
        type=\"PropertyString\">Demo Din Kurs</event_host>\r\n        <event_fee type=\"PropertyNumber\">0</event_fee>\r\n
        \ [...]
